In [17]:
import requests
import io
import pandas as pd
from datetime import date

today = "startDate=" + date.today().strftime("%Y-%m-%d")
# today = "startDate=2022-10-13"
print(today)
ticker = input("Please specify ONE ticker to track: ") #decares stock ticker to track
token = "&token=6c67dc599e26dbdd802b077e38f2d55a559a6ad9" #api token! KEEP SAFE!

requestResponse = requests.get("https://api.tiingo.com/iex/" + ticker + "/prices?" + today + "&resampleFreq=1min" + token)
# requestResponse = requests.get("https://api.tiingo.com/iex/?tickers=aapl" + token)
data = pd.DataFrame(requestResponse.json()) #put pulled data into a pandas dataframe object
data["date"] = data["date"].str.split("T")
data["date"] = data["date"].str[1]
data["date"] = data["date"].str.split(".")
data["date"] = data["date"].str[0]
data.rename(columns={"date" : "time"}, inplace = True)
data

startDate=2022-10-20

         time    close     high      low    open
0    13:30:00  206.685  208.475  206.450  208.29
1    13:31:00  207.340  208.000  205.550  206.69
2    13:32:00  207.080  207.380  205.820  207.33
3    13:33:00  208.990  209.590  206.500  207.04
4    13:34:00  208.590  209.000  208.225  208.95
..        ...      ...      ...      ...     ...
320  18:50:00  205.850  206.050  205.700  206.03
321  18:51:00  206.150  206.150  205.735  205.84
322  18:52:00  206.350  206.545  206.130  206.15
323  18:53:00  206.560  206.560  206.350  206.38
324  18:54:00  206.620  206.730  206.470  206.63

[325 rows x 5 columns]